table {
    margin: auto;
    width: 98vw;
    top: 90px;
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 3px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}

caption {
    font-size: 30px;
    font-weight: bold;
}

tr:hover td{
    background: #e8edff;
}

th {
    background-color: cornflowerblue;
    border: 3px solid grey;
}

td {
    text-align: center;
    border: 2px solid grey;
}

.helper {
    width: 40%;
    margin-left: 20px;
    text-align: center;
}

.table {
    margin-top: 100px;
}

.button {
    margin: 20px;
}

.green {
    background-color: chartreuse;
    color: black;
}

.red {
    background-color: red;
}

.info {
    width: 40%;
    margin-left: 20px;
    text-align: left;
}

.info td:nth-child(odd) {
    width: 20%;
    background-color: cornflowerblue;
}

.info input {
    width: 100%;
}

.info select {
    width: 100%;
}

img {
    width: 20px;
}

p {
    margin-left: 30px;
}
